html, body {
	width: 100%;
	height: 100%;
	background-color: #ddd;
}
.content {
	width: 100%;
	height: 100%;
}
/*stage-start*/
.stage {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 50px;
}
/*stage-end*/

/*image-start*/
.img-sec {
	position: relative;
	width: 100%;
	height: 680px;
	background-color: #222;
	overflow: hidden;
}
.img-figure {
	position: absolute;
	cursor: pointer;
	transition: all .6s ease-in-out;
	/*transform: translate(240px);*/
	opacity: .6;
}
.img-figure:hover {
	opacity: 1;
	z-index: 98;
}
.figure-wrap {
	position: relative;
	width: 220px;
	height: 320px;
	transition: all .6s;
	transform-origin: 25% 50% 0;
	transform-style: preserve-3d;
	perspective: 800;
	background-color: #fff;
	box-sizing: border-box;
}

.isInverse .figure-wrap  { transform: rotateY(180deg);}
.center-figure.figure-wrap .side-front { transform: scale(1.2);}
.img-figure.isInverse { transform: translate(110px);}
.side { position: absolute;}
.side-front {
	width: 84%;
	padding: 8% 8% 2% 8%;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
/*	transform: rotateY(0deg);*/
	transform-style: preserve-3d;
}
.img-figure img {
	display: block;
	width: 100%;
}
.side-back {
	width: 84%;
	padding: 8% 8% 2% 8%;
	height: 320px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	transform: rotateY(180deg);
}

figcaption {
	text-align: center;
}
figcaption .img-title {
	color: #a7a0a6;
	font-size: 16px;
	padding-top: 10px;
}
/*image-end*/

/*control-nav-start*/
.control-nav {
	position: absolute;
	left: 0;
	bottom: 30px;
	z-index: 99;
	text-align: center;
}
/*control-nav-end*/